
.anbutton {
  position: relative;
  /* padding: 12px 35px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid var(--color-primary);
  border-radius: 8px;
  -webkit-box-shadow: 0 0 0 var(--color-primary-variant);
          box-shadow: 0 0 0 var(--color-primary-variant);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 205px;
  height: 50px;

}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 0 #fffdef);
          filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  -webkit-transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 0 #fffdef);
          filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  -webkit-transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 0 #fffdef);
          filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  -webkit-transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 0 #fffdef);
          filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  -webkit-transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 0 #fffdef);
          filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  -webkit-transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 0 #fffdef);
          filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.anbutton:hover {
  background: transparent;
  color: #FEC195;
  -webkit-box-shadow: 0 0 25px var(--color-primary-variant);
          box-shadow: 0 0 25px var(--color-primary-variant);
}

.anbutton:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 10px #fffdef);
          filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.anbutton:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 10px #fffdef);
          filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.anbutton:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 10px #fffdef);
          filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.anbutton:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 10px #fffdef);
          filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.anbutton:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 10px #fffdef);
          filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.anbutton:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  -webkit-filter: drop-shadow(0 0 10px #fffdef);
          filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {fill:#FFFDEF}





/* ==========Media Quaries (Medium Devices) =========== */

@media screen and (max-width: 1024px) {
  /* .anbutton{
    width: 100%;
    margin-bottom: 15px;
  } */
}

/* ==========Media Quaries (Small Devices) =========== */

@media screen and (max-width: 600px) {
  .anbutton{
    width: 100%;
    margin-bottom: 15px
  }
}